@font-face {
    font-family: haffer;
    src: url(/fonts/64b7f7b6e0e962310ae14c45_HafferSQ-Light.ttf);
}

@font-face {
    font-family: gilroy;
    src: url(/fonts/Gilroy-SemiBold.ttf);
} 
@font-face {
    font-family: cooper;
    src: url(/fonts/CooperLtBTWXXLight.ttf);
}
    

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: gilroy; 
    
}
html,body{
    height:100%;
    width:100%;
}

.main{
    height: 100vh;
    width: 100%;
    background-color: #010334;
    position: relative;
    overflow: hidden;
    
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw 2vw;
    height: 70px;
    width: 100%;
    /* margin-top: 5vw; */
    /* background-color: red; */
}

.lnav img{
    height: 80px;
    
}

.rnav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vw;
  
    
}
.nav .rnav h1:nth-last-child(1){

    padding: 17px 20px;
    border-radius: 11px;
    color: black;
    background-color: #DBFE5d;
    
    
}

.rnav h1{
    font-size: 1vw;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 500;
}

.content{
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
}

.left{
    position: relative;
    width: 50%;
    height: 100%;
}

.right{
    position: relative;;
    width: 50%;
    height: 100%;
}

.right>video{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 800px;
    
}

.left>h1{
    font-size: 6vw;
    font-weight: 100;
    color: #FFFFFF;
    margin-left: 3vw;
    margin-top: 3vw;
    line-height: 0.9;
}

.left p{
    color: #ffffff;
    font-size: 1.5vw;
    margin-top: 3vw;
    margin-left: 20vw;
    font-weight: 100;
}

.left button{
    position: absolute;
    padding: 17px 20px;
    background-color: #010334;
    color: white;
    border: 2px solid rgb(210, 209, 209);
    border-radius: 10px;
    font-size: 1.5vw;
    font-weight: 100;
    bottom: 22%;
    left: 40%;

}